
.containerr {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.icono {
    max-width: 20%;
}



a {
    color: white;
}

a:hover {
    color: #3EACB6;
}




.bg-negro {
    background-color: black;
}

hr {
    border: solid #35929b 1px;
}

.col-nn {
    flex: 0 0 8.333333%;
    max-width: 7.5%;
    margin-bottom: .6rem;
    margin-right: .5rem;
}

.mt-6 {
    margin-top: 6rem;
}


.circulo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #3EACB6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 3%
}

.pr-nn {
    padding-right: 8rem;
}

.pl-nn {
    padding-left: 9rem;
}


.footer {
    background-color: #313131;
    color: white;
}








/*MEDIA QUERIS*/

/*dispositivos xs*/
@media (min-width: 576px) {
    .col-nn {
        flex: 0 0 8.333333%;
        max-width: 7.5%;
        /* margin-bottom: .6rem; */
        margin-right: .5rem;
        margin-top: .5rem;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 20rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .pl-nn {
        padding-left: 9rem;
    }
}


/*dispositivos xs*/
@media (max-width: 660px) {
    .col-nn {

        flex: 0 0 8.333333%;
        max-width: 3rem;
        /* margin-bottom: .6rem; */
        margin-right: .5rem;
        margin-top: .5rem;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 0rem;
        font-size: 2rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .pl-nn {
        padding-left: 2rem;
    }

    .pr-nn {
        padding-right: 0;
    }

}

/*dispositivos s*/
@media (min-width: 768px) {
    .col-nn {

        flex: 0 0 8.333333%;
        max-width: 3rem;
        /* margin-bottom: .6rem; */
        margin-right: .5rem;
        margin-top: .5rem;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 0rem;
        font-size: 2rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .pl-nn {
        padding-left: 2rem;
    }

}

/*dispositivos m*/
@media (min-width: 992px) {

    .col-nn {
        flex: 0 0 8.333333%;
        max-width: 3%;
        /* margin-bottom: .6rem; */
        margin-right: .5rem;
        margin-top: .5rem;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 30rem;
        font-size: 2rem;
        line-height: inherit;
        white-space: nowrap;


    }

    .pl-nn {
        padding-left: 2rem;
    }

}

/*dispositivos l*/
@media (min-width: 1200px) {

    .col-nn {
        flex: 0 0 8.333333%;
        max-width: 3%;
        /* margin-bottom: .6rem; */
        margin-top: .8rem;
        margin-right: .5rem;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 30rem;
        font-size: 2rem;
        line-height: inherit;
        white-space: nowrap;

    }

    .pl-nn {
        padding-left: 10rem;
    }

}